@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  background: #F0F2F5;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}


p {
    line-height: 1.8;
    text-align: justify;
}

.container {
  margin: auto;
  width: 50%;
}

.content {
  display: grid; /* usando a tecnologia grid */
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 152px;
  margin-top: 180px;
}

.display-1 {
  color: #1877F2;
  font-size: 45px;
  font-weight: bold;
}

.display-2 {
  font-weight: normal;
  font-size: 25px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mt-0 {
  margin-top: 0;
}

.box-2 {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0, .1);
  border-radius: 5px;
}

.box-2 form input {
  padding: 15px 0;
  padding-left: 8px;
  outline: none;
  border: solid 1px #eee;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0,0,0, .1);
}

.btn {
  padding: 15px;
  outline: none;
  border: solid 1px #eee;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.conect {
  background: #1773EB;
  color: #fff;
  font-weight: bold;
}

.main-register {
  display: flex;
  justify-content: center;
}

.register {
  background: #42B72A;
  color: #fff;
  font-weight: bold;
  width: 190px;
}

.center {
  display: flex;
  justify-content: center;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 20px!important;
}


.mr-10 {
  margin-right: 20px;
}


.d-flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.anchor-link-bl {
  color: #1C1E21;
}
